node_modules/
dist/
*.log
FFOptimizer-win32-x64/
FFOptimizer-win32-x64.zip
Loord Optimizer-win32-x64/
LoordOptimizer_Novo/
FFOptimizer_Novo/
BlueStacks_nxt/
BlueStacks_msi5/
.tempmediaStorage/
.system_generated/
*.tmp
*.exe
!bin/*.exe
!cdm.exe
*.zip
*.blockmap
*.dmg
*.AppImage
win-unpacked/
scratch_iso/
scratch_iso_full/
isodoloord/
.dev_source_backup/
.vercel/
.vercelignore
